#service{
    display: flex;
    flex-direction: column;

}
.dev{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dev div p{
    padding: 5px;
}
#About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}
#text{
    column-count: 2;
    margin-left: 20px;
    margin-right: 20px;
}
#Home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../MyWebsite/Images/back.jpg");
    height: 420px;
}
