body{
    padding: 0;
    margin: 0px;
    background-color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
    height: 50px;
    margin: 0px;
}
.container a{
    color: white;
    text-decoration: none;
    padding: 3%;
}
#about{
    background-color: rgb(141, 140, 140);
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin-left: 10%;
    margin-top: 50px;
}
#about img{
    height: 450px;
    width: 300px;
}
#box1{
    display: flex;
    flex-direction: column;
    width: 60%;
}
#box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.fond{
    font-size: 150%;
}
th {
    background-color: rgb(104, 104, 104);
    color: white;
}
td {
    text-align: center;
    background-color: rgb(214, 212, 212);
}
th,td{
    padding-right: 10px;
}

#contact{
    background-color: rgb(141, 140, 140);
    width: 70%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    margin-left: 10%;
    margin-top: 50px;
}
#contact p{
    font-size: 120%;
}
#project{
    background-color: rgb(141, 140, 140);
    width: 70%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    margin-left: 10%;
    margin-top: 50px;
}
.mainbox{
    display: flex;
    flex-direction: column;
}
.boxes{
    font-size: 120%;
}
.boxes a{
    text-decoration: none;
    color: rgba(70, 69, 69, 0.678);
}
#P1{
    background-color: rgba(247, 247, 247, 0.678);
    padding: 3%;
}
#P2{
    background-color: rgba(247, 247, 247, 0.507);
    padding: 3%;
}
.mainbox div p{
    font-size: 120%;
}

